.toolbar {
  display: flex;
  justify-content: center;
  background-color: indianred;
}

.toolbar .seavus-title {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.toolbar .toolbar-button {
  position: fixed;
  right: 1%;
  top: 2%;
}
